* {
    box-sizing: border-box;
  }
  
body{
    background-color: black;
}
h1{
    color:white;
}
.game-board{
    width:43rem;
    text-align: center;
    margin:  auto;
}
.grid{
    width: 27.2rem;
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cell{
    width: 2.5rem;
    height: 2.5rem;
    border:1px solid white;
}
.shape-container{
    width: 14rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.boards-container{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
}


